/* Home Page Styling */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(background.jpg);
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    position: sticky;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    z-index: 3;
}

/* .p1 section {
  padding: 40px 20px;
  margin: 0;
}

.p2 section {
  padding: 40px 20px;
  margin: 0;
}

.p3 section {
  padding: 40px 20px;
  margin: 0;
} */
  
.logo{
    width: 120px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
  }
  
  .navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
  }
  
  .navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #7280c9;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition:0.5s;
  }

.navbar ul li:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
  }
  
.content h1{
    font-size: 50px;
    margin-top: 80px;
}

.content p{
    font-size: 20px auto;
    font-weight: 100;
    line-height: 25px;
  }
  
  button{
    width: 200px;
    padding: 20px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #7280c9;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  
  span{
    background: #7280c9;
    height: 0;
    width: 100%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
  }
  
  button:hover span{
    height:100%;
  }
  
  button:hover{
    border: none;
  }
  
  .banner::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #222a5d, transparent);
  }

  .about {
    width: 100%;
    margin:auto;
    text-align: center;
    padding-top: 75px;
    background-color:#222a5d;
  }

  .about h1{
    color: #fff;
    font-size: 36px;
    font-weight: 600;
  }

  .about p {
    color: #fff;
    max-width: 550px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
  }

  .about img {
    align-items: center;
    /* display: block; */
    overflow: auto;
    border-radius: 50%;
    width:  200px;
    height: 200px;
    object-fit: contain;
    position: flex;
    top:0;
    bottom:0;
  }

  .projects {
    width: 100%;
    margin:auto;
    text-align: center;
    padding-top: 75px;
    background-color:#222a5d;
  }

  .p-row{
    margin: 5%;
    display: flex;
    justify-content: space-between;
  }
  
  .projects h1{
    color:#fff;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
  }
  
  .projects h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0px;
    color: #fff;
  }
  
  
  .projects-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  .projects-col button{
    align-items: center;
    border: transparent;
    overflow: auto;
    width:  100%;
    height: 500px;
    object-fit: cover;
    top:0;
    bottom:0;
  }
  
  .projects-col img{
    align-items: center;
    display: block;
    overflow: auto;
    width:  100%;
    height: 460px;
    object-fit: cover;
    position: absolute;
    top:0;
    bottom:0;
  }

  .layer{
    background: transparent;
    object-fit: cover;
    align-self: center;
    height: 460px;
    width: 100%;
    position: absolute;
    overflow: auto;
    top:0;
    bottom:0;
    transition: 0.5s;
  }
  
  .layer:hover{
    background: rgba(73, 82, 107, 0.56);
  }
  
  .layer h3{
    width: 100%;
    font-weight: 600;
    color: #fff;
    font-size: 26px;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    position:absolute;
    opacity: 0;
    transition: 0.5s;
  }
  .layer:hover h3{
    bottom: 49%;
    opacity: 1;
  }

  .banner2{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(background.jpg);
    background-size: cover;
    background-position: center;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    margin:0;
    padding:0;
  }

  .banner2::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #222a5d, transparent);
  }

  .logo-button {
    max-width: 100px;
    height: auto;
    border: none;
  }

  .button1 {
    background: none;
    border: none;
    cursor: pointer;
  }

  .p1 {
    width: 100%;
    height: 100vh;
    margin:auto;
    padding-top: 150px;
    background-color:#222a5d;
    position: relative;
  }

  .p1-content{
    width: 100%;
    position: absolute;
    /* top: 25%; */
    transform: translateY(-50%);
    padding-top: 150px;
    text-align: center;
    align-content: center;
    color: #fff;
  }

  .p1-content h1 {
    font-size: 40px;
    /* margin-top: 80px; */
  }

  .video {
    width: auto;
    position: absolute;
    /* top: 50%; */
    transform: translateY(-50%);
    text-align: left;
    padding-left: 120px;
    padding-top: 250px;
    color: #222a5d;
    z-index: 60;
    pointer-events: auto;
  }

  .video2 {
    width: auto;
    position: absolute;
    /* top: 50%; */
    transform: translateY(-50%);
    text-align: right;
    right: 120px;
    padding-top: 250px;
    color: #222a5d;
    z-index: 60;
    pointer-events: auto;
  }

  .p2 {
    display: grid; /* Use CSS Grid */
    grid-template-columns: 1fr auto; /* Two equal columns */
    align-items: center; /* Align items vertically */
    width: 100%;
    height: 100vh;
    margin: auto;
    padding-top: 0px;
    padding-left: 120px;
    padding-right: 20px;
    background-color: #222a5d;
    position: relative;
}

.p2-content {
    grid-column: 1; /* Place in the first column */
    padding: 0 20px; /* Add some padding */
    color: #fff;
    max-width: 550px;
}

.p2-content h1 {
    font-size: 40px;
    /* margin-top: 80px; */
}

.p2-content p {
    margin-right: 0px; /* Add some space between text and image */
}

.p2-image {
    grid-column: 2; /* Place in the second column */
    max-width: 700px; /* Adjust as needed */
    height: auto;
    display: block;
    margin-left: 20px; /* Push the image to the right */
    padding-right: 200px;
}

.p3 {
  display: grid; /* Use CSS Grid */
  grid-template-columns: auto 1ft; /* Two columns: text takes available space, video takes auto width */
  align-items: center; /* Align items vertically */
  width: 100%;
  height: 100vh;
  margin: auto;
  padding-top: 150px;
  background-color: #222a5d;
  position: relative;
}

.p3-content {
  grid-column: 2; /* Place in the first column */
  max-width: 500px;
  padding: 0 20px; /* Add some padding */
  text-align: left; /* Align text to the right */
  color: #fff;
}

.p3-content h1 {
  font-size: 40px;
  /* margin-top: 80px; */
}

.p3-video {
  grid-column: 1; /* Place in the second column */
  max-width: 700px; /* Adjust as needed */
  height: auto;
  display: block;
  margin-left: 20px; /* Add margin to the left */
  padding-left: 120px; /* Add padding to the right */
  z-index: 30;
  pointer-events: auto;
}

  footer {
    background: #222a5d;
    bottom:0;
    height: auto;
    width: 100%;
    padding-top: 30px;
  }

  @media (max-width: 768px) {
    .content h1 {
      font-size: 2.5em;
    }

    .content h2 {
      font-size: 1.5em;
    }

    .navbar ul {
      flex-direction: column;
    }

    .navbar ul li {
      margin: 10px 0;
    }
  }

  /* button{
    width: 200px;
    padding: 20px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #7280c9;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  } */
  
  /* .banner2 span{
    background: #7280c9;
    height: 0;
    width: 100%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
  }
  
  .button1:hover span{
    height:100%;
  }
  
  .button1:hover{
    border: none;
  } */







